	h1
	{
	 	color: #000080;
	 	font-family: Arial;		 	 
	}
	div
	{
		margin-left: 550px;
	    margin-top: 80px;
	    font-family: Arial;
	}

	input[type=button]
	{
	 	border: none;
	 	color: white;
	 	font-size: 20px;	 	 
	 	padding: 5px 15px;
	 	margin-left: 100px;
	 	margin-top: 20px;
	 	background-color: #4CAF50;
	 	display: block;
	}

	p
	{
		display: inline;
	}

	#welcomemsg
	{
		font-size: 22px;
		color: #00080;
	}

	#uname
	{
		font-size: 28px;
		color: orange;
		margin-left: 10px;
	}
